Flask==0.10.1
Frozen-Flask==0.11
Jinja2==2.7.2
MarkupSafe==0.18
PyYAML==3.10
Pygments==1.6
Sphinx==1.2.1
Werkzeug==0.9.4
argh==0.23.3
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
docutils==0.11
itsdangerous==0.23
livereload==2.0.0
pathtools==0.1.2
pep8==1.4.6
pyflakes==0.7.3
sphinx-autobuild==0.2.3
tornado==3.1.1
watchdog==0.6.0
