<div align="center" class="left">

    <object type="application/x-shockwave-flash" data="/local-media/voteinator.swf" width="592" height="333">

        <param name="movie" value="/local-media/voteinator.swf"/>

        <param name="FlashVars" value="xml_path=http://localhost:8000/polls/{{ project.id }}/data.xml&post_path=http://localhost:8000/polls/{{ project.id }}/vote/"/>

        <param name="bgcolor" value="#FFFFFF"/>

        <param name="allowScriptAccess" value="always"/>

        <param name="allowFullScreen" value="true"/>

        <param name="wmode" value="opaque"/>

        <embed src="/local-media/voteinator.swf" FlashVars="xml_path=http://localhost:8000/polls/{{ project.id }}/data.xml&post_path=http://localhost:8000/polls/{{ project.id }}/vote/" bgcolor="#FFFFFF" width="592" height="333" wmode="opaque" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash"></embed>

    </object>

</div>
