<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <style type="text/css">
        h3 {margin-bottom:40px;}
        .button { display:inline; background-color: black; color:white; padding:7px; margin: 0 15px; cursor:pointer; }
        .button:hover { background-color:#CCC; }
    </style>
</head>
<body>
    <div align="center">
        <h1 id="title">{{ poll }}</h1>
        <h3 id="total">Total: {{ total }}</h3>
        <div>
            <div id="yes" class="button">YES</div>
            <div id="no" class="button">NO</div>
        </div>
    </div>
     <script type="text/javascript">
         var currentTotal = {{ total }};
         var vote = function(data) {
             $.ajax({
               type: 'POST',
               url: 'http://{{ request.get_host }}/polls/{{ poll.id }}/vote/',
               data: {'data': data}
             });
             currentTotal += data;
             $("#total").html("Total: " + currentTotal.toString());
         };
         $("#yes").click(function() {
             vote(1);
         });
         $("#no").click(function () {
             vote(-1);
         });
     </script>
</body>
</html>
