<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First News App</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='prettify.css') }}" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
</head>
<body>
    <nav>
        <a href="http://first-news-app.readthedocs.org/">
            <img src="{{ url_for('static', filename='irelogo.png') }}">
        </a>
    </nav>

    <header>
        <h1>These are the 60 people who died during the L.A. riots</h1>
        <div class="byline">
            By <a href="http://first-news-app.readthedocs.org/">The First News App Tutorial</a>
        </div>
    </header>

    <div id="map" style="width:100%; height:400px;"></div>

    <table border=1 cellpadding=10>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Address</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Race</th>
        </tr>
    {% for obj in object_list %}
        <tr>
            <td><a href="{{ obj.id }}/">{{ obj.full_name }}</a></td>
            <td>{{ obj.date }}</td>
            <td>{{ obj.type }}</td>
            <td>{{ obj.address }}</td>
            <td>{{ obj.age }}</td>
            <td>{{ obj.gender }}</td>
            <td>{{ obj.race }}</td>
        </tr>
    {% endfor %}
    </table>

    <script type="text/javascript">
        var map = L.map('map').setView([34.055, -118.35], 9);

        var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
            subdomains: ['otile1','otile2','otile3','otile4']
        });
        map.addLayer(mapquestLayer);

        var data = {
          "type": "FeatureCollection",
          "features": [
            {% for obj in object_list %}
            {
              "type": "Feature",
              "properties": {
                "full_name": "{{ obj.full_name }}",
                "id": "{{ obj.id }}"
              },
              "geometry": {
                "type": "Point",
                "coordinates": [{{ obj.x }}, {{ obj.y }}]
              }
            }{% if not loop.last %},{% endif %}
            {% endfor %}
          ]
        };
        var blackIcon = L.Icon.extend({
            options: {
                iconUrl: "{{ url_for('static', filename='marker-24.png') }}",
                iconSize: [24, 24]
            }
        });
        var dataLayer = L.geoJson(data, {
            pointToLayer: function (feature, latlng) {
                return L.marker(latlng, {icon: new blackIcon()});
            },
            onEachFeature: function(feature, layer) {
                layer.bindPopup(
                    '<a href="' + feature.properties.id + '/">' +
                        feature.properties.full_name +
                    '</a>'
                );
            }
        });
        map.addLayer(dataLayer);
    </script>
</body>
</html>
