<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script>

<h1>Baltimore CCTV locations</h1>

<div id="map" style="width:100%; height:600px;"></div>

<table>
{% for obj in object_list %}
    <tr>
        <td>{{ obj.number }}</td>
        <td>{{ obj.location }}</td>
        <td>{{ obj.project }}</td>
    </tr>
{% endfor %}
</table>

<script type="text/javascript">
    var map = L.map('map').setView([39.2903848,-76.61219], 12);

    var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
        subdomains: ['otile1','otile2','otile3','otile4']
    });
    map.addLayer(mapquestLayer);

    var data = {
      "type": "FeatureCollection",
      "features": [
        {% for obj in object_list %}
        {
          "type": "Feature",
          "properties": {
            "number": {{ obj.number }},
            "location": "{{ obj.location }}",
            "project": "{{ obj.project }}",
          },
          "geometry": {
            "type": "Point",
            "coordinates": [
              {{ obj.x }},
              {{ obj.y }}
            ]
          }
        }{% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    };

    var dataLayer = L.geoJson(data, {
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "Camera #" + 
                feature.properties.number + 
                "<br>" + 
                feature.properties.location +
                "<br>" + 
                feature.properties.project
            );
        }
    });
    map.addLayer(dataLayer);
</script>
